In [57]:
import pandas as pd

In [58]:
df = pd.read_csv("supershops.csv")
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [59]:
x = df.drop('Profit', axis=1)
y = df['Profit']

In [60]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [61]:
x.head()

   Marketing Spend  Administration  Transport     Area
0        114523.61       136897.80  471784.10    Dhaka
1        162597.70       151377.59  443898.53      Ctg
2        153441.51       101145.55  407934.54  Rangpur
3        144372.41       118671.85  383199.62    Dhaka
4        142107.34        91391.77  366168.42  Rangpur

In [62]:
x2 = x.copy()

In [63]:
x2.head()

   Marketing Spend  Administration  Transport     Area
0        114523.61       136897.80  471784.10    Dhaka
1        162597.70       151377.59  443898.53      Ctg
2        153441.51       101145.55  407934.54  Rangpur
3        144372.41       118671.85  383199.62    Dhaka
4        142107.34        91391.77  366168.42  Rangpur

In [64]:
x3 = x.copy()

In [65]:
x3

    Marketing Spend  Administration  Transport     Area
0         114523.61       136897.80  471784.10    Dhaka
1         162597.70       151377.59  443898.53      Ctg
2         153441.51       101145.55  407934.54  Rangpur
3         144372.41       118671.85  383199.62    Dhaka
4         142107.34        91391.77  366168.42  Rangpur
5         131876.90        99814.71  362861.36    Dhaka
6         134615.46       147198.87  127716.82      Ctg
7         130298.13       145530.06  323876.68  Rangpur
8         120542.52       148718.95  311613.29    Dhaka
9         123334.88       108679.17  304981.62      Ctg
10        101913.08       110594.11  229160.95  Rangpur
11        100671.96        91790.61  249744.55      Ctg
12         93863.75       127320.38  249839.44  Rangpur
13         91992.39       135495.07  252664.93      Ctg
14        119943.24       156547.42  256512.92  Rangpur
15        165349.20       122616.84  261776.23    Dhaka
16         78013.11       121597.55  264346.06      Ctg
17         94657.16       145077.58  282574.31    Dhaka
18         91749.16       114175.79  294919.57  Rangpur
19         86419.70       153514.11        NaN    Dhaka
20         76253.86       113867.30  298664.47      Ctg
21         78389.47       153773.43  299737.29    Dhaka
22         73994.56       122782.75  303319.26  Rangpur
23         67532.53       105751.03  304768.73  Rangpur
24         77044.01        99281.34  140574.81    Dhaka
25         64664.71       139553.16  137962.62      Ctg
26         75328.87       144135.98  134050.07  Rangpur
27         72107.60       127864.55  353183.81    Dhaka
28         66051.52       182645.56  118148.20  Rangpur
29         65605.48       153032.06  107138.38    Dhaka
30         61994.48       115641.28   91131.24  Rangpur
31         61136.38       152701.92   88218.23    Dhaka
32         63408.86       129219.61   46085.25      Ctg
33         55493.95       103057.49  214634.81  Rangpur
34         46426.07       157693.92  210797.67      Ctg
35         46014.02        85047.44  205517.64    Dhaka
36         28663.76       127056.21  201126.82  Rangpur
37         44069.95        51283.14  197029.42      Ctg
38         20229.59        65947.93  185265.10    Dhaka
39         38558.51        82982.09  174999.30      Ctg
40         28754.33       118546.05  172795.67      Ctg
41         27892.92        84710.77  164470.71  Rangpur
42         23640.93        96189.63  148001.11      Ctg
43         15505.73       127382.30   35534.17    Dhaka
44         22177.74       154806.14   28334.72      Ctg
45          1000.23       124153.04    1903.93    Dhaka
46          1315.46       115816.21  297114.46  Rangpur
47             0.00       135426.92       0.00      Ctg
48           542.05        51743.15       0.00    Dhaka
49             0.00       116983.80   45173.06      Ctg

# Normalization

In [10]:
from sklearn.preprocessing import MinMaxScaler

In [11]:
m = MinMaxScaler() #feature_range=(0, 1)

In [12]:
df_mar_sp = m.fit(x[['Marketing Spend']]) #calculating
df_mar_sp

MinMaxScaler()

In [13]:
x.head()

   Marketing Spend  Administration  Transport     Area
0        114523.61       136897.80  471784.10    Dhaka
1        162597.70       151377.59  443898.53      Ctg
2        153441.51       101145.55  407934.54  Rangpur
3        144372.41       118671.85  383199.62    Dhaka
4        142107.34        91391.77  366168.42  Rangpur

In [14]:
x['Marketing Spend'].min()

0.0

In [15]:
x['Marketing Spend'].max()

165349.2

In [16]:
x['Marketing Spend'].std()

45902.25648230753

In [17]:
x['Marketing Spend'] = m.transform(x[['Marketing Spend']])

In [18]:
x['Marketing Spend'].head()

0    0.692617
1    0.983359
2    0.927985
3    0.873136
4    0.859438
Name: Marketing Spend, dtype: float64

In [19]:
#Loop
columns_to_normalize = ['Marketing Spend', 'Administration', 'Transport']
# Loop through each column and normalize
for column in columns_to_normalize:
    x[[column]] = m.fit_transform(x[[column]])

# Print the normalized data
print(x)

    Marketing Spend  Administration  Transport     Area
0          0.692617        0.651744   1.000000    Dhaka
1          0.983359        0.761972   0.940893      Ctg
2          0.927985        0.379579   0.864664  Rangpur
3          0.873136        0.512998   0.812235    Dhaka
4          0.859438        0.305328   0.776136  Rangpur
5          0.797566        0.369448   0.769126    Dhaka
6          0.814128        0.730161   0.270710      Ctg
7          0.788018        0.717457   0.686493  Rangpur
8          0.729018        0.741733   0.660500    Dhaka
9          0.745906        0.436929   0.646443      Ctg
10         0.616351        0.451506   0.485733  Rangpur
11         0.608845        0.308364   0.529362      Ctg
12         0.567670        0.578836   0.529563  Rangpur
13         0.556352        0.641066   0.535552      Ctg
14         0.725394        0.801327   0.543708  Rangpur
15         1.000000        0.543030   0.554864    Dhaka
16         0.471808        0.535270   0.560312      Ctg
17         0.572468        0.714013   0.598948    Dhaka
18         0.554881        0.478772   0.625116  Rangpur
19         0.522650        0.778236        NaN    Dhaka
20         0.461169        0.476424   0.633053      Ctg
21         0.474084        0.780210   0.635327    Dhaka
22         0.447505        0.544293   0.642920  Rangpur
23         0.408424        0.414638   0.645992  Rangpur
24         0.465947        0.365388   0.297964    Dhaka
25         0.391080        0.671958   0.292427      Ctg
26         0.455574        0.706845   0.284134  Rangpur
27         0.436093        0.582978   0.748613    Dhaka
28         0.399467        1.000000   0.250429  Rangpur
29         0.396769        0.774566   0.227092    Dhaka
30         0.374931        0.489928   0.193163  Rangpur
31         0.369741        0.772053   0.186989    Dhaka
32         0.383485        0.593294   0.097683      Ctg
33         0.335617        0.394134   0.454943  Rangpur
34         0.280776        0.810055   0.446810      Ctg
35         0.278284        0.257032   0.435618    Dhaka
36         0.173353        0.576825   0.426311  Rangpur
37         0.266527        0.000000   0.417626      Ctg
38         0.122345        0.111636   0.392690    Dhaka
39         0.233194        0.241309   0.370931      Ctg
40         0.173901        0.512041   0.366260      Ctg
41         0.168691        0.254469   0.348614  Rangpur
42         0.142976        0.341852   0.313705      Ctg
43         0.093776        0.579307   0.075319    Dhaka
44         0.134127        0.788072   0.060059      Ctg
45         0.006049        0.554724   0.004036    Dhaka
46         0.007956        0.491260   0.629768  Rangpur
47         0.000000        0.640547   0.000000      Ctg
48         0.003278        0.003502   0.000000    Dhaka
49         0.000000        0.500148   0.095749      Ctg

In [20]:
x.head()

   Marketing Spend  Administration  Transport     Area
0         0.692617        0.651744   1.000000    Dhaka
1         0.983359        0.761972   0.940893      Ctg
2         0.927985        0.379579   0.864664  Rangpur
3         0.873136        0.512998   0.812235    Dhaka
4         0.859438        0.305328   0.776136  Rangpur

In [21]:
# Alternative Loop

In [22]:
x['Marketing Spend'].min()

0.0

In [23]:
x['Marketing Spend'].max()

1.0

In [24]:
x['Marketing Spend'].min()

0.0

In [25]:
x['Transport'].min()

0.0

In [26]:
x['Transport'].max()

1.0

In [27]:
#do manually
#Normalization: Xnew = Xi-Min(X)/Max(X)-Min(X) ,For first data,Xnew = 114523.61-0/165349.2-0, ans=0.6926, same for all data set

# Standard Scaler

In [28]:
#https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html
from sklearn.preprocessing import StandardScaler

In [29]:
scaler = StandardScaler()

In [30]:
x2['Marketing Spend'].std()

45902.25648230753

In [31]:
x2['Marketing Spend'].mean()

73721.6156

In [32]:
#do manually
#Standardization: Xnew = Xi-Xmean/S.D  ,S.D = 45902.25648230753 ,Xnew=114523.61-73721.6156/45902.25648230753 ans=0.89,same for all data set

In [33]:
#sklearn
#Loop
columns_to_standardize = ['Marketing Spend', 'Administration', 'Transport']
# Loop through each column and normalize
for column in columns_to_standardize:
    x[[column]] = scaler.fit_transform(x[[column]])

# Print the normalized data
print(x)

    Marketing Spend  Administration  Transport     Area
0          0.897913        0.560753   2.165287    Dhaka
1          1.955860        1.082807   1.929843      Ctg
2          1.754364       -0.728257   1.626191  Rangpur
3          1.554784       -0.096365   1.417348    Dhaka
4          1.504937       -1.079919   1.273550  Rangpur
5          1.279800       -0.776239   1.245627    Dhaka
6          1.340066        0.932147  -0.739753      Ctg
7          1.245057        0.871980   0.916470  Rangpur
8          1.030369        0.986952   0.812928    Dhaka
9          1.091819       -0.456640   0.756935      Ctg
10         0.620398       -0.387599   0.116763  Rangpur
11         0.593085       -1.065540   0.290555      Ctg
12         0.443260        0.215449   0.291357  Rangpur
13         0.402078        0.510179   0.315213      Ctg
14         1.017181        1.269199   0.347702  Rangpur
15         2.016411        0.045868   0.392142    Dhaka
16         0.094441        0.009118   0.413839      Ctg
17         0.460720        0.855666   0.567745    Dhaka
18         0.396725       -0.258465   0.671979  Rangpur
19         0.279442        1.159837        NaN    Dhaka
20         0.055726       -0.269588   0.703598      Ctg
21         0.102724        1.169186   0.712656    Dhaka
22         0.006007        0.051850   0.742899  Rangpur
23        -0.136201       -0.562211   0.755138  Rangpur
24         0.073115       -0.795469  -0.631190    Dhaka
25        -0.199312        0.656489  -0.653246      Ctg
26         0.035370        0.821718  -0.686280  Rangpur
27        -0.035519        0.235069   1.163917    Dhaka
28        -0.168793        2.210141  -0.820543  Rangpur
29        -0.178609        1.142457  -0.913502    Dhaka
30        -0.258074       -0.205629  -1.048654  Rangpur
31        -0.276958        1.130554  -1.073249    Dhaka
32        -0.226949        0.283924  -1.428988      Ctg
33        -0.401129       -0.659324  -0.005884  Rangpur
34        -0.600682        1.310535  -0.038282      Ctg
35        -0.609750       -1.308658  -0.082863    Dhaka
36        -0.991570        0.205925  -0.119935  Rangpur
37        -0.652532       -2.525994  -0.154531      Ctg
38        -1.177178       -1.997270  -0.253860    Dhaka
39        -0.773820       -1.383122  -0.340536      Ctg
40        -0.989577       -0.100900  -0.359142      Ctg
41        -1.008534       -1.320796  -0.429432  Rangpur
42        -1.102106       -0.906938  -0.568488      Ctg
43        -1.281134        0.217682  -1.518073    Dhaka
44        -1.134305        1.206419  -1.578860      Ctg
45        -1.600350        0.101254  -1.802021    Dhaka
46        -1.593413       -0.199322   0.690511  Rangpur
47        -1.622362        0.507722  -1.818096      Ctg
48        -1.610433       -2.509409  -1.818096    Dhaka
49        -1.622362       -0.157226  -1.436690      Ctg

# Max Abs Scaler

In [43]:
from sklearn.preprocessing import MaxAbsScaler

In [44]:
scaler = MaxAbsScaler()

In [45]:
x2

    Marketing Spend  Administration  Transport     Area
0          0.692617        0.749527   1.000000    Dhaka
1          0.983359        0.828805   0.940893      Ctg
2          0.927985        0.553781   0.864664  Rangpur
3          0.873136        0.649738   0.812235    Dhaka
4          0.859438        0.500378   0.776136  Rangpur
5          0.797566        0.546494   0.769126    Dhaka
6          0.814128        0.805926   0.270710      Ctg
7          0.788018        0.796789   0.686493  Rangpur
8          0.729018        0.814249   0.660500    Dhaka
9          0.745906        0.595028   0.646443      Ctg
10         0.616351        0.605512   0.485733  Rangpur
11         0.608845        0.502561   0.529362      Ctg
12         0.567670        0.697090   0.529563  Rangpur
13         0.556352        0.741847   0.535552      Ctg
14         0.725394        0.857110   0.543708  Rangpur
15         1.000000        0.671338   0.554864    Dhaka
16         0.471808        0.665757   0.560312      Ctg
17         0.572468        0.794312   0.598948    Dhaka
18         0.554881        0.625122   0.625116  Rangpur
19         0.522650        0.840503        NaN    Dhaka
20         0.461169        0.623433   0.633053      Ctg
21         0.474084        0.841923   0.635327    Dhaka
22         0.447505        0.672246   0.642920  Rangpur
23         0.408424        0.578996   0.645992  Rangpur
24         0.465947        0.543574   0.297964    Dhaka
25         0.391080        0.764065   0.292427      Ctg
26         0.455574        0.789157   0.284134  Rangpur
27         0.436093        0.700069   0.748613    Dhaka
28         0.399467        1.000000   0.250429  Rangpur
29         0.396769        0.837864   0.227092    Dhaka
30         0.374931        0.633146   0.193163  Rangpur
31         0.369741        0.836056   0.186989    Dhaka
32         0.383485        0.707488   0.097683      Ctg
33         0.335617        0.564249   0.454943  Rangpur
34         0.280776        0.863388   0.446810      Ctg
35         0.278284        0.465642   0.435618    Dhaka
36         0.173353        0.695644   0.426311  Rangpur
37         0.266527        0.280780   0.417626      Ctg
38         0.122345        0.361071   0.392690    Dhaka
39         0.233194        0.454334   0.370931      Ctg
40         0.173901        0.649050   0.366260      Ctg
41         0.168691        0.463799   0.348614  Rangpur
42         0.142976        0.526646   0.313705      Ctg
43         0.093776        0.697429   0.075319    Dhaka
44         0.134127        0.847577   0.060059      Ctg
45         0.006049        0.679748   0.004036    Dhaka
46         0.007956        0.634104   0.629768  Rangpur
47         0.000000        0.741474   0.000000      Ctg
48         0.003278        0.283298   0.000000    Dhaka
49         0.000000        0.640496   0.095749      Ctg

In [46]:
x2['Marketing Spend'].median()

0.44179881124311454

In [47]:
x2['Marketing Spend'].quantile(.75)

0.6144740948247708

In [48]:
x2['Marketing Spend'].quantile(.25)

0.24152744615637692

In [74]:
x2['Marketing Spend'].max()

165349.2

In [49]:
#manually Xscale = X/Max(x) ,114523.61/165349.2 ans=0.693, same for all data set

In [50]:
#Loop
columns_to_maxabs = ['Marketing Spend', 'Administration', 'Transport']
# Loop through each column and normalize
for column in columns_to_maxabs:
    x2[[column]] = scaler.fit_transform(x2[[column]])

# Print the normalized data
print(x2)

    Marketing Spend  Administration  Transport     Area
0          0.692617        0.749527   1.000000    Dhaka
1          0.983359        0.828805   0.940893      Ctg
2          0.927985        0.553781   0.864664  Rangpur
3          0.873136        0.649738   0.812235    Dhaka
4          0.859438        0.500378   0.776136  Rangpur
5          0.797566        0.546494   0.769126    Dhaka
6          0.814128        0.805926   0.270710      Ctg
7          0.788018        0.796789   0.686493  Rangpur
8          0.729018        0.814249   0.660500    Dhaka
9          0.745906        0.595028   0.646443      Ctg
10         0.616351        0.605512   0.485733  Rangpur
11         0.608845        0.502561   0.529362      Ctg
12         0.567670        0.697090   0.529563  Rangpur
13         0.556352        0.741847   0.535552      Ctg
14         0.725394        0.857110   0.543708  Rangpur
15         1.000000        0.671338   0.554864    Dhaka
16         0.471808        0.665757   0.560312      Ctg
17         0.572468        0.794312   0.598948    Dhaka
18         0.554881        0.625122   0.625116  Rangpur
19         0.522650        0.840503        NaN    Dhaka
20         0.461169        0.623433   0.633053      Ctg
21         0.474084        0.841923   0.635327    Dhaka
22         0.447505        0.672246   0.642920  Rangpur
23         0.408424        0.578996   0.645992  Rangpur
24         0.465947        0.543574   0.297964    Dhaka
25         0.391080        0.764065   0.292427      Ctg
26         0.455574        0.789157   0.284134  Rangpur
27         0.436093        0.700069   0.748613    Dhaka
28         0.399467        1.000000   0.250429  Rangpur
29         0.396769        0.837864   0.227092    Dhaka
30         0.374931        0.633146   0.193163  Rangpur
31         0.369741        0.836056   0.186989    Dhaka
32         0.383485        0.707488   0.097683      Ctg
33         0.335617        0.564249   0.454943  Rangpur
34         0.280776        0.863388   0.446810      Ctg
35         0.278284        0.465642   0.435618    Dhaka
36         0.173353        0.695644   0.426311  Rangpur
37         0.266527        0.280780   0.417626      Ctg
38         0.122345        0.361071   0.392690    Dhaka
39         0.233194        0.454334   0.370931      Ctg
40         0.173901        0.649050   0.366260      Ctg
41         0.168691        0.463799   0.348614  Rangpur
42         0.142976        0.526646   0.313705      Ctg
43         0.093776        0.697429   0.075319    Dhaka
44         0.134127        0.847577   0.060059      Ctg
45         0.006049        0.679748   0.004036    Dhaka
46         0.007956        0.634104   0.629768  Rangpur
47         0.000000        0.741474   0.000000      Ctg
48         0.003278        0.283298   0.000000    Dhaka
49         0.000000        0.640496   0.095749      Ctg

# Robust Scaler

In [51]:
from sklearn.preprocessing import RobustScaler

In [52]:
RoSc=RobustScaler()

In [66]:
x3

    Marketing Spend  Administration  Transport     Area
0         114523.61       136897.80  471784.10    Dhaka
1         162597.70       151377.59  443898.53      Ctg
2         153441.51       101145.55  407934.54  Rangpur
3         144372.41       118671.85  383199.62    Dhaka
4         142107.34        91391.77  366168.42  Rangpur
5         131876.90        99814.71  362861.36    Dhaka
6         134615.46       147198.87  127716.82      Ctg
7         130298.13       145530.06  323876.68  Rangpur
8         120542.52       148718.95  311613.29    Dhaka
9         123334.88       108679.17  304981.62      Ctg
10        101913.08       110594.11  229160.95  Rangpur
11        100671.96        91790.61  249744.55      Ctg
12         93863.75       127320.38  249839.44  Rangpur
13         91992.39       135495.07  252664.93      Ctg
14        119943.24       156547.42  256512.92  Rangpur
15        165349.20       122616.84  261776.23    Dhaka
16         78013.11       121597.55  264346.06      Ctg
17         94657.16       145077.58  282574.31    Dhaka
18         91749.16       114175.79  294919.57  Rangpur
19         86419.70       153514.11        NaN    Dhaka
20         76253.86       113867.30  298664.47      Ctg
21         78389.47       153773.43  299737.29    Dhaka
22         73994.56       122782.75  303319.26  Rangpur
23         67532.53       105751.03  304768.73  Rangpur
24         77044.01        99281.34  140574.81    Dhaka
25         64664.71       139553.16  137962.62      Ctg
26         75328.87       144135.98  134050.07  Rangpur
27         72107.60       127864.55  353183.81    Dhaka
28         66051.52       182645.56  118148.20  Rangpur
29         65605.48       153032.06  107138.38    Dhaka
30         61994.48       115641.28   91131.24  Rangpur
31         61136.38       152701.92   88218.23    Dhaka
32         63408.86       129219.61   46085.25      Ctg
33         55493.95       103057.49  214634.81  Rangpur
34         46426.07       157693.92  210797.67      Ctg
35         46014.02        85047.44  205517.64    Dhaka
36         28663.76       127056.21  201126.82  Rangpur
37         44069.95        51283.14  197029.42      Ctg
38         20229.59        65947.93  185265.10    Dhaka
39         38558.51        82982.09  174999.30      Ctg
40         28754.33       118546.05  172795.67      Ctg
41         27892.92        84710.77  164470.71  Rangpur
42         23640.93        96189.63  148001.11      Ctg
43         15505.73       127382.30   35534.17    Dhaka
44         22177.74       154806.14   28334.72      Ctg
45          1000.23       124153.04    1903.93    Dhaka
46          1315.46       115816.21  297114.46  Rangpur
47             0.00       135426.92       0.00      Ctg
48           542.05        51743.15       0.00    Dhaka
49             0.00       116983.80   45173.06      Ctg

In [68]:
x3['Marketing Spend'].median()

73051.08

In [69]:
x3['Marketing Spend'].quantile(.75)

101602.8

In [72]:
x3['Marketing Spend'].quantile(.25)

39936.37

In [73]:
#Loop
columns_to_robust = ['Marketing Spend', 'Administration', 'Transport']
# Loop through each column and normalize
for column in columns_to_robust:
    x3[[column]] = RoSc.fit_transform(x3[[column]])

# Print the normalized data
print(x3)

    Marketing Spend  Administration  Transport     Area
0          0.672530        0.345355   1.552016    Dhaka
1          1.452113        0.697565   1.383714      Ctg
2          1.303634       -0.524290   1.166654  Rangpur
3          1.156567       -0.097977   1.017368    Dhaka
4          1.119836       -0.761543   0.914576  Rangpur
5          0.953936       -0.556662   0.894617    Dhaka
6          0.998345        0.595921  -0.524591      Ctg
7          0.928334        0.555328   0.659326  Rangpur
8          0.770134        0.632895   0.585311    Dhaka
9          0.815416       -0.341041   0.545285      Ctg
10         0.468034       -0.294461   0.087672  Rangpur
11         0.447908       -0.751841   0.211904      Ctg
12         0.337504        0.112392   0.212476  Rangpur
13         0.307158        0.311235   0.229530      Ctg
14         0.760416        0.823317   0.252754  Rangpur
15         1.496732       -0.002018   0.284521    Dhaka
16         0.080466       -0.026811   0.300031      Ctg
17         0.350370        0.544322   0.410047    Dhaka
18         0.303213       -0.207340   0.484556  Rangpur
19         0.216789        0.749534        NaN    Dhaka
20         0.051937       -0.214843   0.507158      Ctg
21         0.086569        0.755842   0.513633    Dhaka
22         0.015300        0.002018   0.535252  Rangpur
23        -0.089490       -0.412265   0.544000  Rangpur
24         0.064750       -0.569635  -0.446987    Dhaka
25        -0.135996        0.409945  -0.462753      Ctg
26         0.036937        0.521418  -0.486367  Rangpur
27        -0.015300        0.125629   0.836208    Dhaka
28        -0.113507        1.458133  -0.582342  Rangpur
29        -0.120740        0.737808  -0.648791    Dhaka
30        -0.179297       -0.171693  -0.745402  Rangpur
31        -0.193212        0.729778  -0.762983    Dhaka
32        -0.156361        0.158589  -1.017276      Ctg
33        -0.284711       -0.477784   0.000000  Rangpur
34        -0.431759        0.851204  -0.023159      Ctg
35        -0.438440       -0.915864  -0.055026    Dhaka
36        -0.719797        0.105966  -0.081527  Rangpur
37        -0.469966       -1.737154  -0.106257      Ctg
38        -0.856568       -1.380444  -0.177260    Dhaka
39        -0.559341       -0.966102  -0.239219      Ctg
40        -0.718328       -0.101037  -0.252519      Ctg
41        -0.732297       -0.924053  -0.302764  Rangpur
42        -0.801249       -0.644839  -0.402166      Ctg
43        -0.933171        0.113898  -1.080956    Dhaka
44        -0.824976        0.780961  -1.124408      Ctg
45        -1.168397        0.035349  -1.283931    Dhaka
46        -1.163285       -0.167438   0.497803  Rangpur
47        -1.184617        0.309577  -1.295422      Ctg
48        -1.175827       -1.725964  -1.295422    Dhaka
49        -1.184617       -0.139037  -1.022781      Ctg

In [20]:
y = df['Profit']

In [ ]:
y = df[['Profit']]

In [ ]:
#manually Xscale = Xi-Xmed/X75-X25 ,114523.61-73051.08/101602-39936 ans=0.67, same for all data set